[Unit]
Description=Canto
After=network.target

[Service]
# Change these!
ExecStart=/usr/bin/python3.11 /path/to/your/script.py
Restart=always
User=youruser
WorkingDirectory=/path/to/your/project/

[Install]
WantedBy=multi-user.target