aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
blinker==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
dataclass-factory==2.16
Flask==3.1.3
frozenlist==1.8.0
gpiod==2.4.1
gpiodevice==0.0.5
idna==3.11
importlib_resources==6.5.2
inky==2.3.0
IT8951 @ git+https://github.com/GregDMeyer/IT8951.git@9f136139378f74e17d9972d7165dc6ae53a2568e
itsdangerous==2.2.0
Jetson.GPIO==2.1.12
Jinja2==3.1.6
MarkupSafe==3.0.3
multidict==6.7.1
numpy==2.4.4
omni_epd @ git+https://github.com/robweber/omni-epd.git@6bfcb2e8857e4ba33714dff05ae21489541a549a
pillow==12.1.1
propcache==0.4.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
requests==2.33.1
RPi.GPIO==0.7.1
scipy==1.17.1
shazamio==0.8.1
shazamio_core==1.1.2
smbus2==0.6.0
sounddevice==0.5.5
spidev==3.8
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
waveshare-epd @ git+https://github.com/waveshareteam/e-Paper.git@86aa9932f471a50157cf02fafadc2c1b4a965449#subdirectory=RaspberryPi_JetsonNano/python
Werkzeug==3.1.7
yarl==1.23.0
